<div class="container">

    <!-- Formulario de contacto -->
    <form class="contact-form" action="" method="post">


        <!-- Titulo previo -->
        <div class="title-before">Conviértete en un</div>

        <!-- Titulo -->
        <div class="title">ORADOR</div>

        <!-- Titulo posterior -->
        <div class="title-after">Anótate como orador para dar una <span>charla ignite</span>. Cuéntanos de qué quieres hablar!</div>

        <!-- Grupo de entradas -->
        <div class="input-group">

            <!-- Entradas de nombre y apellido -->
            <input class="input-" placeholder="Nombre" type="text">
            <input class="input-" placeholder="Apellido" type="text">
        </div>

        <!-- Entrada sobre -->
        <textarea name="" id="" placeholder="¿Sobre qué quieres hablar?"></textarea>

        <!-- Informacion adicion al contacto -->
        <div class="info">Recuerda incluir un texto para tu charla</div>

        <!-- Boton para guardar el formulario -->
        <button type="submit">Enviar</button>
    </form>
</div>