<div class="navbar">

    <!-- seccion del logo -->
    <div class="navbar-logo">
        <div class="logo-img">
            <img src="assets/img/codoacodo.png" alt="logo" routerLink="/home">
        </div>
    </div>

    <div id="toggle-menu" class="toggle-menu">
        <img src="assets/menu.svg" alt="toogle-menu">
    </div>

    <!-- seccion de navegacion y enlaces -->
    <div class="navbar-link">
        <ul>
            <li class="link-item"><a routerLink="/content">La conferencia</a></li>
            <li class="link-item"><a routerLink="/content-bottom">El lugar y la fecha</a></li>
            <li class="link-item"><a routerLink="/contact">Conviértete en orador</a></li>
            <li class="link-item"><a routerLink="/auth/login">Ingreso</a></li>
            <li class="link-item"><a routerLink="/auth/register">Registrarse</a></li>
            <li class="link-item"><a routerLink="/auth/profile">Perfil</a></li>
            <li class="link-item"><a routerLink="/buy">Comprar tickets</a></li>
        </ul>
    </div>
</div>