<div class="navbar">

    <!-- seccion del logo -->
    <div class="navbar-logo">
        <div class="logo-img">
            <img src="assets/img/codoacodo.png" alt="" srcset="" routerLink="/home">
        </div>
        <p class="logo-titulo">{{ title }}</p>
    </div>

    <!-- seccion de navegacion y enlaces -->
    <div class="navbar-link">
        <ul>
        <li class="link-item"><a routerLink="/content">La conferencia</a></li>
        <li class="link-item"><a routerLink="/content-bottom">El lugar y la fecha</a></li>
        <li class="link-item"><a routerLink="/contact">Conviértete en orador</a></li>
        <li class="link-item"><a routerLink="/buy">Comprar tickets</a></li>
        </ul>
    </div>
</div>