<div class="navbar">

    <!-- seccion del logo -->
    <div class="navbar-logo">
        <div class="logo-img">
            <img src="assets/img/codoacodo.png" alt="" srcset="">
        </div>
        <!-- <img src="../../../assets/cart4.svg" alt="logo" srcset="">-->
        <p class="logo-titulo">Conf Bs As</p>
    </div>

    <!-- seccion de navegacion y enlaces -->
    <div class="navbar-link">
        <ul>
        <li class="link-item"><a href="#">La conferencia</a></li>
        <li class="link-item"><a href="#">El lugar y la fecha</a></li>
        <li class="link-item"><a href="#">Conviértete en orador</a></li>
        <li class="link-item"><a href="#">Comprar tickets</a></li>
        </ul>
    </div>
</div>
<div class="nav-end"></div>