.navbar {
  grid-area: navbar;
  height: 100%;
  font-size: 1.2rem;
  background: #373d42;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.navbar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-logo {
  flex-grow: 2;
}

.logo-titulo {
  color: white;
  font-size: 2rem;
}

.logo-img > img {
  height: 80px;
  cursor: pointer;
}

.navbar-link {
  flex-grow: 4;
}

.navbar-link > ul {
  display: flex;
  gap: 15px;
}

.link-item > a {
  color: #87949a;
}

.link-item:first-child > a {
  color: white;
}

.link-item:last-child > a {
  color: #0a8c4d;
}

a:hover{
  color: #0a8c4d;
}