<div class="container">
    <!-- efecto blur -->
    <div class="blur">

        <!-- titulo -->
        <div class="container-title">Conf Bs As</div>

        <!-- titulo -->
        <div class="container-body">Bs As llega por primera vez a Argentina. Un evento para compartir con la comunidad el conocimiento y experiencia de los expertos que están creando el futuro de Internet. Ven a conocer a miembros del evento, a otros estudiantes de Codo a Codo y los oradores de primer nivel que tenemos para ti. Te esperamos!</div>

        <!-- titulo -->
        <div class="container-button">
            <button>Quiero ser orador</button>
            <button>Comprar tickets</button>
        </div>

    </div>
    <!--<img src="./assets/img/ba1.jpg" alt="image-ba1.jpg" srcset="">-->
</div>