<div class="container">

    <div class="title">CONOCE A LOS</div>
    <div class="title">ORADORES</div>

    <!-- Tarjetas -->
    <div class="card-container">

        <!-- Tarjeta -->
        <div class="card">

            <!-- Imagen -->
            <div class="card-img">
                <img src="asserts/img/steve.jpg" alt="" srcset="">
            </div>

            <!-- Tags -->
            <div class="tag-container">
                <a class="tag-js" href="#">JavasCript</a>
                <a class="tag-React" href="#">React</a>
            </div>

            <!-- Titulo -->
            <div class="card-title">
                Steve Jobs
            </div>

            <!-- Cuerpo -->
            <div class="card-body">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis veniam quia dolore iusto voluptas odit nemo ab ratione vel tenetur minima, cupiditate eius facilis itaque neque! Reprehenderit, facere consectetur quaerat cum a dignissimos iste inventore beatae totam esse voluptatibus repudiandae, optio, minus eius id nulla provident. Fugit quidem eum obcaecati.
            </div>
        </div>
    </div>

</div>