<div class="container">

    <div class="title-before">CONOCE A LOS</div>
    <div class="title">ORADORES</div>

    <!-- Tarjetas -->
    <div class="card-container">

        <!-- Tarjeta -->
        <div class="card">

            <!-- Imagen -->
            <img class="card-img" src="/assets/img/steve.jpg" alt="" srcset="">

            <!-- Cuerpo -->
            <div class="card-body">

                <!-- Tags -->
                <div class="tag-container">
                    <a class="tag tag-js" href="#">JavasCript</a>
                    <a class="tag tag-react" href="#">React</a>
                </div>

                <!-- Titulo -->
                <div class="card-title">
                    Steve Jobs
                </div>

                <!-- Texto -->
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tenetur possimus dicta beatae cum
                    repellendus? Deleniti unde nemo rem quisquam delectus hic fugiat illum asperiores!
                </div>
            </div>
        </div>

        <div class="card">

            <!-- Imagen -->
            <img class="card-img" src="/assets/img/bill.jpg" alt="" srcset="">

            <!-- Cuerpo -->
            <div class="card-body">

                <!-- Tags -->
                <div class="tag-container">
                    <a class="tag tag-js" href="#">JavasCript</a>
                    <a class="tag tag-React" href="#">React</a>
                </div>

                <!-- Titulo -->
                <div class="card-title">
                    Bill Gates
                </div>

                <!-- Texto -->
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur explicabo earum voluptatem
                    dolores
                    tempore, deserunt velit voluptas qui mollitia necessitatibus magnam officia quod, ab enim!
                </div>
            </div>
        </div>

        <div class="card">

            <!-- Imagen -->
            <img class="card-img" src="/assets/img/ada.jpeg" alt="" srcset="">

            <div class="card-body">

                <!-- Tags -->
                <div class="tag-container">
                    <a class="tag tag-business" href="#">Business</a>
                    <a class="tag tag-startup" href="#">Startups</a>
                </div>

                <!-- Titulo -->
                <div class="card-title">
                    Ada Lovelace
                </div>

                <!-- Texto -->
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eaque vero necessitatibus corporis
                    dignissimos, velit saepe dicta unde, ea ullam sapiente error consequuntur id autem?
                </div>
            </div>
        </div>
    </div>
</div>