<div class="base">
    <form (ngSubmit)="buy()">

        <div class="inputGroup">

            <label for="product">Producto</label>
            <select name="product" [(ngModel)]="productSelected">
                <option *ngFor="let product of products; index as i;" [ngValue]="product">
                    {{product.description}}</option>
            </select>
        </div>

        <div class="inputGroup">

            <label for="price">Precio:</label>
            <label class="debit"> {{productSelected.price|currency}}</label>
        </div>

        <div class="inputGroup">

            <label for="lastName">Apellido</label>
            <input type="text" name="lastName" placeholder="Apellido" required [(ngModel)]="client.lastName"
                #lastName="ngModel">
        </div>

        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">

            <div *ngIf="lastName.errors?.['required']" class="error">
                El campo es requerido.
            </div>
        </div>

        <div class="inputGroup">

            <label for="firstName">Nombre</label>
            <input type="text" name="firstName" placeholder="Nombre" required [(ngModel)]="client.firstName"
                #firstName="ngModel">
        </div>

        <div class="validator" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">

            <div *ngIf="firstName.errors?.['required']" class="error">
                El campo es requerido.
            </div>
        </div>

        <div class="inputGroup">

            <label for="email">Correo electronico</label>
            <input type="email" name="email" placeholder="Correo electronico" required [(ngModel)]="client.email"
                #email="ngModel">
        </div>

        <div class="validator" *ngIf="email.invalid && (email.dirty || email.touched)">

            <div *ngIf="email.errors?.['required']" class="error">
                El campo es requerido.
            </div>
        </div>

        <div class="inputGroup">

            <label for="phone">Telefono</label>
            <input type="tel" name="phone" placeholder="Telefono" required [(ngModel)]="client.phone" #phone="ngModel">
        </div>

        <div class="validator" *ngIf="phone.invalid && (phone.dirty || phone.touched)">

            <div *ngIf="phone.errors?.['required']" class="error">
                El campo es requerido.
            </div>
        </div>

        <div class="inputGroup">

            <label for="quantity">Cantidad</label>
            <input type="number" name="quantity" min="1" max="10" [(ngModel)]="quantity">
        </div>

        <div class="inputGroup">

            <label for="discount">Descuento</label>
            <select name="discount" [(ngModel)]="discountSelected">
                <option *ngFor="let discount of discounts;" [ngValue]="discount"> {{ discount.discountName }}
                </option>
            </select>
        </div>

        <div class="order">
            <div class="inputGroup">

                <label for="subtotal">Subtotal:</label>
                <label class="debit">{{subtotal() | currency}}</label>
            </div>

            <div class="inputGroup">

                <label for="discount">Descuento:</label>
                <label class="credit">{{discountSelected.value | percent}}</label>
            </div>

            <div class="inputGroup bold">

                <label for="total">Total:</label>
                <label class="debit">{{total() | currency}}</label>
            </div>
        </div>

        <button type="submit" [disabled]="lastName.invalid || firstName.invalid || email.invalid || phone.invalid || email.invalid">Comprar</button>
    </form>
</div>