.left, .right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.right {
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    background: #373d42;
    padding: 20px;
    gap: 20px;
}

* {
    color: white;
}

.right-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.right-text {
    font-size: 1rem;
    margin-bottom: 20px;
}

.right-button {
    background-color: #373d4200;
    border: 1px solid #fff;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 1.2rem;
}