<div class="base">
    
    <div class="container">
    
        <!-- Imagen derecha -->
        <img class="left" img src="assets/img/honolulu.jpg" alt="" srcset="">
    
        <!-- Texto izquierdo -->
        <div class="right">
    
            <!-- Titulo -->
            <div class="right-title">Bs As - Octubre</div>
    
            <!-- Texto -->
            <div class="right-text">
                Buenos Aires en la provincia y localidad más grande del estado de Argentina, en los Estados Unidos. Honolulu
                es la más sureña de entre las principales ciudades estadounidenses. Aunque el nombre de Honolulu se refiere
                al área urbana en la costa sureste de la isla de Oahu, la ciudad y el condado de Honolulu han formado una
                ciudad-condado consolidada que cubre toda la ciudad (aproximadamente 600 km² de superficie).
            </div>
    
            <!-- Botones -->
            <button class="right-button">Conocé mas</button>
        </div>
    </div>
</div>