@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

select {
    background: none;
    border: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: 0;
}

a:hover,
button:hover {
    filter: brightness(120%) contrast(120%);
}

body {
    font-family: 'Poppins', sans-serif;
    color: #222;
    font-size: 1.2rem;
    display: grid;
    min-height: 100%;
    grid-template-rows: 1;
    grid-template:
        "navbar" 90px
        "main" auto
        "footer" 90px;
}

button:disabled {
    background: #aaa;
    color: #555;
}

button:hover:not(disabled) {
    filter: none;
}

.bold {
    font-weight: bold;
}

.credit {
    color: darkgreen;
}

.debit {
    color: darkred;
}

.error {
    color: darkred;
    font-size: .8rem;
    margin-bottom: 10px;
}

.base {
    grid-area: main;
    background-color: #3a3a3a;
    display: flex;
    flex-flow: row nowrap;
    min-height: calc(100vh - 90px - 90px);
    justify-content: center;
    align-items: center;
}